@charset "utf-8";

.topbar {
    font: 12px 'Hiragino Sans GB',"simsun","Arial";
    color: #646464;
    width: 100%;
    height: 34px;
    line-height: 34px;
    background: #f9f9f9;
    border-bottom: 1px solid #f2f2f2;
    // 送至哪里
    .send-to-where {
        float: left;
        padding-top: 2px;
        a {
            display: block;
            border: 1px solid transparent;
            border-bottom: 0;
            padding: 3px 21px 0px 8px;
            height: 22px;
            line-height: 22px;
            background: url(../img/head_sprite.png) no-repeat right -303px;
            @extend %a-style;
        }
    }
    // 欢迎词
    .welcome {
        float: right;
        height: 24px;
        line-height: 24px;
        padding: 5px 0 0 10px;
        margin-right: 4px;
        a {
            @extend %a-style;
            &.login {
                color: $theme-color;
            }
        }
    }
    // 导航
    .tools-nav {
        float: right;
        padding-top: 2px;
        @include clearfix();
        li {
            float: left;
            height: 22px;
            line-height: 22px;
            padding-top: 4px;
            background: url(../img/head_sprite.png) no-repeat left -285px;
            a {
                @extend %a-style;
                display: block;
                height: 21px;
                padding: 0px 7px 0px 8px;
                &.drop {
                    cursor: default;
                    background: url(../img/head_sprite.png) no-repeat right -307px;
                    padding: 0px 23px 0px 8px;
                }
                &.my-dangdang {
                    padding: 0px 27px 0px 8px;
                }
            }
        }
    }
}